.table {

	
	&__options {
		display: flex;
		flex-direction: row;

		&--item {
			flex-grow: 0;
			flex-basis: 20%;

			label {
				font-size: 0.875rem;
			}
		}
	}

  &__first-column {
    display: flex;
    align-items: center;

    img {
      margin-right: 5px;
    }
  }
}

.arrows {
	text-align: center;
}
