.table {
  &--main {
    flex: 100%;
    &--wrapper {
			display: flex;
			flex-direction: column;
			margin: 2rem 2rem 7px 2rem;
		}
	}
	
	&__options {
		display: flex;
		flex-direction: row;

		div {
			flex-grow: 0;
		}
	}

  &__first-column {
    display: flex;
    align-items: center;

    img {
      margin-right: 5px;
    }
  }
}

.arrows {
	text-align: center;
}
