@import "~vuetify/src/styles/main.sass";
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
	color: $light-grey !important;
}

.hello {
	font-family: "Grandstander", cursive;
	font-size: 14px;
}

.fa .fa-arrow-left:hover {
	cursor: pointer;
}

.main {
	margin-left: 15vw;
}

.menuCollapsed {
	margin-left: 5vw;
}

.theme--dark.v-data-table .v-data-table-header th.sortable.active .v-data-table-header__icon {
	color: $river-blue !important;
}

.h-100 {
	height: 100%;
}
