.card {

	&__team:hover {
		@include scale-it(1.2);

	}

	&__topTen {
		ul:hover {
			@include scale-it(1.2);
		}

		.playerAvatar:hover {
			@include scale-it(1.1);
		}

		.playerFullName:hover {
			cursor: pointer;
			text-decoration: underline;
		}

		&__tabs {
			width: 100%;

			.v-window-item {
				width: 100%;
				display: flex;
			}
		}
	}
}