.card {

	&__team:hover {
		cursor: pointer;
		transform: scale(1.2);

	}

	&__topTen {
		ul:hover {
			cursor: pointer;
			transform: scale(1.2);
		}

		&__tabs {
			width: 100%;

			.v-window-item {
				width: 100%;
				display: flex;
			}
		}
	}
}