
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.hello {
	font-family: 'Grandstander', cursive;
	font-size: $font-size-h2;
}

a {
  color: $brand-color;
  text-decoration: none;
}